* {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: cream;
}
body p {
  font-size: 14px;
}
.wrapper {
  /* border: red solid 1px; */
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maincontainer {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  max-width: 320px;
  height: 630px;
}
.topcontainer {
  padding: 120px;
  background-image: url(../images/image-product-mobile.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.bottomcontainer {
  padding: 20px;
}
.bottomcontainer h1 {
  color: hsl(0, 0%, 61%);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
.bottomcontainer h2 {
  color: hsl(0, 0%, 19%);
  padding-top: 15px;
  font-size: 1.8rem;
  font-family: "Fraunces", serif;
}
.branddescription {
  color: hsl(0, 0%, 61%);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  padding-top: 15px;
}
.price {
  display: flex;
  padding: 20px 0px 20px 0px;
}
.discounted-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  padding-right: 20px;
}
.original-price {
  color: hsl(0, 0%, 61%);
  display: flex;
  text-decoration: line-through;
  align-items: center;
}
.btn-cart {
  margin: 0 auto;
  align-items: center;
}
.addtocart {
  background-color: hsl(158, 36%, 37%);
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 60px;
  border-radius: 10px;
  color: white;
  padding: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  width: 250px;
}
.addtocart:hover {
  background-color: hsl(159, 37%, 18%);
}
@media screen and (min-width: 768px) {
  .wrapper {
    /* border: red solid 1px; */
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
  }
  .maincontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 680px;
    height: 520px;
    display: flex;
    flex-direction: row;
  }
  .topcontainer {
    padding: 160px;
    background-image: url(../images/image-product-desktop.jpg);
    background-size: 100% 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    width: 200px;
  }
  .bottomcontainer {
    padding: 30px;
    /* width: 500px; */
  }
  .bottomcontainer h1 {
    color: hsl(0, 0%, 61%);
    /*  font-size: 1rem; */
    font-weight: 400;
    letter-spacing: 0.3rem;
    padding-top: 10px;
  }
  .bottomcontainer h2 {
    color: hsl(0, 0%, 19%);
    padding-top: 15px;
    padding-right: 65px;
    font-size: 2.5rem;
    font-family: "Fraunces", serif;
  }
  .branddescription {
    color: hsl(0, 0%, 61%);
    padding-top: 15px;
    padding-right: 20px;
    line-height: 1.8rem;
    font-size: 1.1rem;
  }
  .price {
    display: flex;
    padding: 20px 0px 20px 0px;
  }
  .discounted-price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", serif;
    font-size: 2.5rem;
    padding-right: 20px;
  }
  .original-price {
    color: hsl(0, 0%, 61%);
    display: flex;
    text-decoration: line-through;
    align-items: center;
  }
  .btn-cart {
    margin: 0 auto;
    align-items: center;
  }
  .addtocart {
    background-color: hsl(158, 36%, 37%);
    background-image: url(../images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-position-x: 80px;
    border-radius: 10px;
    color: white;
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    width: 280px;
  }
  .addtocart:hover {
    background-color: hsl(159, 37%, 18%);
  }
}
.attribution {
  background-color: antiquewhite;
}
